


@model IEnumerable<User>

<h2>All User</h2>
<table class="table">
    <thead>
        <tr>
            
            <td>Name</td>
            <td>CreateAt</td>
            <td>Action</td>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.CreateAt</td>
                <td>
                    <form asp-controller="Users" asp-action="Index" >
                        <input type="hidden" name="userid" value="@item.UserId" />
                        <button type="submit" class="btn btn-dark">Activate</button>
                    </form>
                </td>
                
            </tr>
        }
    </tbody>
</table>
