@model User
<h2>Register</h2>
<form asp-controller="Users" asp-action="Register">
    <div class="text-danger">@ViewBag.Error</div>
        <div class="my-3">
            <label asp-for="UserName"></label>
            <input asp-for="UserName" class="form-control" />
        </div>
        <div class="my-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="my-3">
            <label asp-for="CreateAt"></label>
            <input asp-for="CreateAt" class="form-control" />
        </div>
    
    <button type="submit" class="btn btn-dark">Register</button>
</form>
